.hero-image{
    height: 100vh;
    background: url(../assets/bg.jpg);
    background-size: cover;
}

.DHack-logo{
    padding: 5rem
}

@media only screen and (max-width:800){
    .hero-image{

        background-color: #fff;
    }
    
}