.bioContainer {
  
    
}

.bio-bg{
    width: 100%;
    height: 700px;
    background: url(../assets/divider.jpg);
    margin: 0 0 0 0;
}




.imgContainer{
    width: 100%;
    margin: 100px 0 0 0;
   
}

.bioText{
    width:40%;
    margin: 50px auto 100px auto; 
    text-align: left;
}

.bioText p{
    text-align: left;
 
}

.bioText h3{
    margin: 20px 0 50px 0;
}