.bioContainer {
    height: 100vh;
}


.imgContainer{
    width: 100%;
    margin: 100px 0 0 0;
   
}

.bioText{
    width:40%;
    margin: 23px auto; 
    text-align: left;
}

.bioText p{
    text-align: left;
}

.bioText h3{
    margin: 20px 0 50px 0;
}