.hero-image{
    height: 100vh;
    
    background: url(../assets/bg.jpg);
    background-size: cover;
    z-index: 20;
    
}

.DHack-logo{
    padding: 1rem
}

@media only screen and (max-width:800){
    .hero-image{
        background:none;
        background-color: #fff;
    }
    
}